.markdown {

    h2 {
        color: #F60076;
    }

    h1,
    h3,
    h4 {
        color: #40E0D0;
    }
    
    h5 {
        color: #e9ecef;
    }

    blockquote::before {
        content: ‘’;
        position: absolute;
        left: 0;
        width: 4px;
        height: 100%;
        border-radius: 2px / 4px;
    }
}